body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0px;
    background-color: #FFCB9A;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-text-style {
    color: #8C503A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid #FFCB9A;
    padding: 16px;
    background-color: #D2E8E3;
}

.nav-text-style {
    color: #265C4B;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-text-style:hover {
    color: #FF6B1A;
}

.menu-talbe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header-text-style {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 500;
    color:#265C4B;
    text-decoration: none;
}

.recipe-title-text-style {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#265C4B;
    text-decoration: none;
}

.recipe-title-text-style:hover {
    color: #FF6B1A;
}

.sub-header-text-style {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8C503A;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
}

.rating-text-style {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
}

tr:nth-child(even) {
    background-color: #D2E8E3;
}

th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: large;
    color: #182625;
}

td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 350;
    color: #2F3D40;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 350;
    color: #182625;
}
